body {

  background-color: lightyellow;
  text-align:center;
}




h1 {
  color: blue;
font-family: Geneva;

}





Form
{
	text-align:center;
font-family: sans-serif;
	color: green;
}